/**
 * file: colored-chart.css
 *   Place in same directory as DynamicallyColoredBarChartWithLabel.java
 *   Ensure that the build system copies this file to the build output directory.
 */
.root {
    -fx-red: red;
    -fx-blue: blue;
}

.default-color0.chart-bar { -fx-bar-fill: -fx-red; }
.default-color1.chart-bar { -fx-bar-fill: -fx-blue; }

.level-legend {
    -fx-padding: 10;
    -fx-border-width: 2;
    -fx-background-color: rgba(211, 211, 211, 0.5);
    -fx-border-color: derive(rgba(211, 211, 211, 0.7), 10%);
}